Repository xavibj/docker_desktop: changes, and which Jenkins stages are due for each by the changed paths.
All: Build Atom Image, Build Tor-browser Image

Jenkinsfile:

pipeline {
   agent any
   stages{
      stage('checkout'){
         steps{
            checkout scm
         }
      }
      stage('Build Atom Image') {
            when {
                changeset "atom/*"
            }
            steps {
                echo 'Building atom image, please wait ...'

                script {
                    withDockerRegistry([ credentialsId: "dockerhub", url: "" ]) {
                       def customImage = docker.build("xavibj/atom:${env.BUILD_ID}","-f atom/Dockerfile .")
                       def latest = docker.build("xavibj/atom:latest","-f atom/Dockerfile .")
                       customImage.push()
                       latest.push()
                    }
                }
            }
       }
      stage('Build Tor-browser Image') {
            when {
                changeset "tor-browser/*"
            }
            steps {
                echo 'Building tor-browser image, please wait ...'

                script {
                    withDockerRegistry([ credentialsId: "dockerhub", url: "" ]) {
                       def customImage = docker.build("xavibj/tor-browser:${env.BUILD_ID}","-f tor-browser/Dockerfile .")
                       def latest = docker.build("xavibj/tor-browser:latest","-f tor-browser/Dockerfile .")
                       customImage.push()
                       latest.push()
                    }
                }
            }
       }
   }
}

test
  README.md
Due: none

global jenkinsfile
  atom/Jenkinsfile
  tor-browser/Jenkinsfile
Due: Build Atom Image, Build Tor-browser Image

tor-browser missing local.conf
  tor-browser/local.conf
  xavidockerfuncs
Due: Build Tor-browser Image

test
  tor-browser/Dockerfile
Due: Build Tor-browser Image

Readme
  README.md
Due: none

funcs for osx
  xavidockerfuncs_osx
Due: none
